<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!--
    로그 파일은 클라이언트가 있는 디렉토리의 logs 폴더 내부에 기록.
    용량은 10MB 제한
    넘버링은 10까지(용량을 넘가면 새 로그 파일 생성
    utf-8로 인코딩
    최소 로그 단계는 Trace
    
    로그 단계 
    Trace - 가장 자세한 로그 단계. 프로토콜 교환 중 부하 체크 같은 자세한 사항 기록시 사용. 솔루션이 완성 되지 않은 단계에서 사용
    Debug - 디버깅 로그. Trace보다는 덜 자세함. 솔루션이 완성되지 않은 단계에서 많이 사용
    Info - 정보를 담고 있는 메시지. 보통 완성후에도 사용.
    Warn - 경고 메시지. 심각하지 않은 사항에 대해서 사용. 일시적이거나 복구된 사항에 사용
    Error - 에러 메시지
    Fatal - 심각한 에러
    -->
  <targets>

    <target name="Page"
            xsi:type="File"
            fileName="${basedir}/logs/Page.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${uppercase: ${level}} | ${message} | ${callsite}| ${callsite-linenumber}  "
            keepFileOpen="false"
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveFileName="${basedir}/logs/Page{shortdate}_{##}.log"
            archiveAboveSize="10485760"
            encoding="utf-8"
            />
    
  </targets>

  <rules>
    <logger name="Page" minlevel="Trace" writeTo="Page"/>
  </rules>
</nlog>
